{% extends 'template.html' %}
{% block application %}
<h1>{{_("LOGIN")}}</h1>

{% if fields.vierror %}
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Warning!</strong> {{fields.vierror}}
</div>
{% end %}

<form class="well" method="post">

    Server :  <input name="server" value="{{fields.server}}" /><br />
    Username : <input name="username" value="{{fields.username}}"  /> <br />
    Password : <input type="password" name="password" value="{{fields.password}}" /> <br />
    <button type="submit" class="btn">Login</button>

</form>



{% end %}
